<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="MrCart" />
    <title>{{ page.title }}</title>
    <style type="text/css" media="screen">
      .container {
      margin: 10px auto;
      max-width: 600px;
      text-align: left;
     }
      h1 {
      margin: 30px 0;
      font-size: 1em;
      line-height: 1;
      letter-spacing: -1px;
      text-align: center;
     }
    </style>
  </head>
  <body class="container">
    
    <header>
      <h1><a href="/">MrCart</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
